.form-container {
	position: relative;
	margin: 30px;
	max-width: 750px;
	background-color: #fff;
	padding: 30px;
	border-left: 5px solid #f3bf6c;
	box-shadow: 0px 0px 45px 0px #f0ebeb;
}

.form-container::before {
	position: absolute;
	content: "";
	width: 0;
	bottom: 0;
	right: 0;
	height: 0;
	border-left: 35px solid #fff;
	border-bottom: 35px solid #f3bf6c;
}

.heading {
	display: block;
	color: #212121;
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 20px;
}

.form-container .form .input {
	color: #212121;
	width: 100%;
	background-color: #f4f4f4;
	border: none;
	outline: none;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	border-left: 1px solid transparent;

	border-radius: 1px;
}

.form-container .form .input:focus {
	border-left: 5px solid #f3bf6c;
}

.form-container .form .textarea {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	background-color: #f4f4f4;
	color: #ff7a01;
	font-weight: bold;
	resize: none;
	max-height: 150px;
	margin-bottom: 20px;
	border-left: 1px solid transparent;
	transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
	border-left: 5px solid #f3bf6c;
}

.form-container .form .button-container {
	display: flex;
	gap: 10px;
}

.form-container .form .button-container .send-button {
	flex-basis: 70%;
	background: #156f5b;
	padding: 10px;
	color: #fffdf9;
	text-align: center;
	font-weight: bold;
	border: 1px solid transparent;
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
	cursor: pointer;
}

.form-container .form .button-container .send-button:hover {
	background: transparent;
	border: 1px solid #f3bf6c;
	color: #f3bf6c;
}

.form-container .form .button-container .reset-button-container {
	filter: drop-shadow(1px 1px 0px #f3bf6c);
	flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
	position: relative;
	text-align: center;
	padding: 10px;
	color: #f3bf6c;
	font-weight: bold;
	background: #156f5b;
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - 10px),
		calc(100% - 10px) 100%,
		0 100%
	);
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
	cursor: pointer;
}

.form-container
	.form
	.button-container
	.reset-button-container
	.reset-button:hover {
	background: #f3bf6c;
	color: #156f5b;
}
