@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 25px; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  background-color: #fffdf9;
  color: #212121; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #fffdf9;
    color: #212121; } }

.container {
  max-width: 1250px !important;
  margin: 0 auto;
  padding: 0rem 2rem; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

p {
  font-weight: 500; }

.fade-section {
  opacity: 0;
  transform: translateX(-50px) translateY(-20px);
  transition: opacity 1s ease-out, transform 1s ease-out; }

.btn-primary {
  background: #156f5b;
  color: #fffdf9;
  padding: 0.7rem 1.1rem;
  border-radius: 5px;
  cursor: pointer; }
  .btn-primary:hover {
    background: #1f846b; }
  @media screen and (min-width: 1024px) {
    .btn-primary {
      padding: 0.9rem 1.8rem; } }

.nav-bar {
  margin: -1.5rem 0; }
  .nav-bar .nav-logo {
    width: 130px;
    height: 130px; }
    @media screen and (min-width: 481px) {
      .nav-bar .nav-logo {
        width: 160px;
        height: 160px; } }
    @media screen and (min-width: 1024px) {
      .nav-bar .nav-logo {
        width: 180px;
        height: 180px; } }
  .nav-bar .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8rem;
    margin-left: 0.1rem;
    width: 100%;
    z-index: 100; }
    @media screen and (min-width: 1024px) {
      .nav-bar .nav-list {
        position: static;
        width: auto;
        margin: 0; } }
    .nav-bar .nav-list .list-items {
      transform: translateY(-300%);
      transition: all 500ms ease;
      background: #fffdf9; }
      .nav-bar .nav-list .list-items:hover .list-item {
        filter: blur(5px); }
      @media screen and (min-width: 1024px) {
        .nav-bar .nav-list .list-items {
          transform: translateY(0);
          display: flex; } }
      .nav-bar .nav-list .list-items .list-item {
        padding: 0.3rem 0; }
        .nav-bar .nav-list .list-items .list-item:hover {
          filter: blur(0px); }
        @media screen and (min-width: 1024px) {
          .nav-bar .nav-list .list-items .list-item {
            padding: 0 1rem; } }
        .nav-bar .nav-list .list-items .list-item a {
          font-size: 18px; }
          @media screen and (min-width: 420px) {
            .nav-bar .nav-list .list-items .list-item a {
              font-size: 19px; } }
          @media screen and (min-width: 481px) {
            .nav-bar .nav-list .list-items .list-item a {
              font-size: 21px; } }
          .nav-bar .nav-list .list-items .list-item a:hover {
            color: #156f5b; }

.active-menu {
  transform: translateY(0) !important; }

.hamburger {
  transform: scale(0.85); }

.service-item_image {
  width: 300px;
  height: 300px; }
  .service-item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.service-item_context {
  margin-top: 1rem;
  width: 300px; }
  .service-item_context h3 {
    font-size: 1.2rem;
    line-height: 24px;
    margin-bottom: 1rem; }
    @media screen and (min-width: 780px) {
      .service-item_context h3 {
        font-size: 1.35rem; } }
    @media screen and (min-width: 1280px) {
      .service-item_context h3 {
        font-size: 1.5rem; } }
  .service-item_context p {
    font-size: 0.9rem; }
    @media screen and (min-width: 481px) {
      .service-item_context p {
        font-size: 1rem; } }
    @media screen and (min-width: 1024px) {
      .service-item_context p {
        font-size: 1.1rem; } }

.service-page {
  margin-bottom: 4rem; }
  .service-page .service-title {
    font-size: 1.2rem;
    position: relative; }
    @media screen and (min-width: 481px) {
      .service-page .service-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 780px) {
      .service-page .service-title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .service-page .service-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .service-page .service-title {
        font-size: 2.7rem; } }
    .service-page .service-title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-25px);
      width: 50px;
      height: 3px;
      background-color: #156f5b; }
  .service-page .service-items {
    margin-top: 4rem; }

.exp {
  margin-bottom: 4rem; }
  .exp .exp-title {
    font-size: 1.2rem;
    position: relative; }
    @media screen and (min-width: 481px) {
      .exp .exp-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 780px) {
      .exp .exp-title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .exp .exp-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .exp .exp-title {
        font-size: 2.7rem; } }
    .exp .exp-title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-25px);
      width: 50px;
      height: 3px;
      background-color: #156f5b; }
  .exp .exp-item {
    margin-top: 4rem; }

.exp-item {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 330px;
  box-shadow: 0px 0px 45px 0px #f0ebeb; }
  @media screen and (min-width: 481px) {
    .exp-item {
      width: 450px; } }
  @media screen and (min-width: 1024px) {
    .exp-item {
      width: 600px; } }
  .exp-item h3 {
    font-size: 1.4rem;
    margin: 1rem 0; }
    @media screen and (min-width: 780px) {
      .exp-item h3 {
        font-size: 1.6rem; } }
    @media screen and (min-width: 1280px) {
      .exp-item h3 {
        font-size: 1.8rem; } }
  .exp-item p {
    font-size: 0.9rem;
    margin-bottom: 1rem; }
    @media screen and (min-width: 481px) {
      .exp-item p {
        font-size: 1rem; } }
    @media screen and (min-width: 1024px) {
      .exp-item p {
        font-size: 1.1rem; } }
  .exp-item .line {
    width: 100%;
    background-color: #000;
    border-radius: 10px;
    margin: 1rem 0;
    transform: scale(0.8);
    height: 15px;
    overflow: hidden; }
    .exp-item .line .skill {
      padding: 10px 0;
      border-radius: 10px;
      animation: fillSkill 700ms ease;
      line-height: 10px;
      background-color: #156f5b;
      width: 75%;
      height: 100%; }

@keyframes fillSkill {
  0% {
    width: 0; }
  100% {
    width: 75%; } }

.carousel__slide {
  padding: 5px; }

.carousel__track {
  transform-style: preserve-3d; }

.carousel__slide--sliding {
  transition: 0.5s; }

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg) scale(0.9); }

.carousel__slide--active ~ .carousel__slide {
  transform: rotateY(20deg) scale(0.9); }

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-10deg) scale(0.95); }

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg) scale(0.95); }

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.1); }

@media screen and (min-width: 1024px) {
  .image-container {
    height: 230px; } }

@media screen and (min-width: 780px) {
  .image-container {
    height: 290px; } }

.image-container img {
  height: 100%;
  width: auto;
  object-fit: cover; }

.reviews-item {
  background: #fff;
  box-shadow: 0px 0px 45px 0px #f0ebeb;
  border-radius: 10px;
  padding: 2rem 3rem;
  width: 300px; }
  .reviews-item .quotes {
    font-size: 1.3rem; }
  .reviews-item__image {
    margin: 2rem 0; }
    .reviews-item__image img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 2px solid #156f5b;
      object-fit: cover; }
  .reviews-item p {
    font-size: 0.9rem; }
    @media screen and (min-width: 481px) {
      .reviews-item p {
        font-size: 1rem; } }
    @media screen and (min-width: 780px) {
      .reviews-item p {
        font-size: 0.85rem; } }
    @media screen and (min-width: 1024px) {
      .reviews-item p {
        font-size: 1.1rem; } }
  .reviews-item .line {
    height: 3px;
    width: 20px;
    background: #156f5b;
    border: 10px;
    margin: 2.5rem 0; }

.form-container {
  position: relative;
  background-color: #fff;
  width: 300px;
  padding: 30px;
  border-left: 5px solid #f3bf6c;
  box-shadow: 0px 0px 45px 0px #f0ebeb;
  margin-top: 4rem; }
  @media screen and (min-width: 420px) {
    .form-container {
      width: 350px; } }
  @media screen and (min-width: 481px) {
    .form-container {
      width: 400px; } }
  @media screen and (min-width: 1024px) {
    .form-container {
      width: 600px; } }

.form-container::before {
  position: absolute;
  content: "";
  width: 0;
  bottom: 0;
  right: 0;
  height: 0;
  border-left: 35px solid #fff;
  border-bottom: 35px solid #f3bf6c; }

.heading {
  display: block;
  color: #212121;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px; }

.form-container .form .input {
  color: #212121;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
  border-radius: 1px; }

.form-container .form .input:focus {
  border-left: 5px solid #f3bf6c; }

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f4f4f4;
  color: #ff7a01;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out; }

.form-container .form .textarea:focus {
  border-left: 5px solid #f3bf6c; }

.form-container .form .button-container {
  display: flex;
  gap: 10px; }

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #156f5b;
  padding: 10px;
  color: #fffdf9;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer; }

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #f3bf6c;
  color: #f3bf6c; }

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #f3bf6c);
  flex-basis: 30%; }

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #f3bf6c;
  font-weight: bold;
  background: #156f5b;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer; }

.form-container
.form
.button-container
.reset-button-container
.reset-button:hover {
  background: #f3bf6c;
  color: #156f5b; }

.contact-infos {
  margin-top: 2.5rem; }
  @media screen and (min-width: 780px) {
    .contact-infos {
      margin-top: 4rem; } }
  .contact-infos .contact-info {
    background-color: #fff;
    box-shadow: 0px 0px 45px 0px #f0ebeb;
    border-radius: 10px;
    width: 300px;
    padding: 2rem 0; }
    .contact-infos .contact-info .icon {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #156f5b; }
    .contact-infos .contact-info h3 {
      color: #4d4d4d;
      font-weight: 500; }

.contact-context {
  margin-top: 4rem;
  width: 250px; }
  .contact-context h4 {
    font-size: 1.3rem; }
  .contact-context .line {
    height: 3px;
    width: 20px;
    background: #f3bf6c;
    border: 10px;
    margin: 1.5rem 0; }
  .contact-context p {
    font-size: 0.9rem; }
    @media screen and (min-width: 780px) {
      .contact-context p {
        font-size: 1.1rem; } }

.footer {
  height: 100%; }
  @media screen and (min-width: 780px) {
    .footer div {
      margin-left: auto; } }
  .footer .logo {
    width: 150px; }
  .footer .email p {
    margin-top: -3rem;
    font-size: 1.3rem; }
    @media screen and (min-width: 780px) {
      .footer .email p {
        margin-top: 0;
        font-size: 1.1rem; } }
    @media screen and (min-width: 1024px) {
      .footer .email p {
        font-size: 1.2rem; } }

.hero-main {
  margin-bottom: 4rem; }
  @media screen and (min-width: 780px) {
    .hero-main .hero-context {
      margin-top: 4rem; } }
  @media screen and (min-width: 1024px) {
    .hero-main .hero-context {
      padding-left: 1rem; } }
  .hero-main .hero-context_title {
    font-size: 1.75rem; }
    @media screen and (min-width: 420px) {
      .hero-main .hero-context_title {
        font-size: 2rem; } }
    @media screen and (min-width: 481px) {
      .hero-main .hero-context_title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 780px) {
      .hero-main .hero-context_title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .hero-main .hero-context_title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .hero-main .hero-context_title {
        font-size: 3.4rem; } }
  .hero-main .hero-context_text {
    margin: 1.5rem 0 2rem 0;
    color: #4d4d4d;
    font-size: 0.9rem; }
    @media screen and (min-width: 420px) {
      .hero-main .hero-context_text {
        font-size: 1.1rem; } }
    @media screen and (min-width: 481px) {
      .hero-main .hero-context_text {
        font-size: 1.3rem; } }
    @media screen and (min-width: 780px) {
      .hero-main .hero-context_text {
        font-size: 1.1rem; } }
    @media screen and (min-width: 1024px) {
      .hero-main .hero-context_text {
        font-size: 1.4rem; } }
    @media screen and (min-width: 1280px) {
      .hero-main .hero-context_text {
        font-size: 1.5rem; } }
  .hero-main .hero-image {
    margin-top: 2rem; }
    @media screen and (min-width: 780px) {
      .hero-main .hero-image {
        margin: 0rem; } }

@media screen and (min-width: 1024px) {
  #hero {
    min-height: 80vh;
    display: grid;
    place-items: center; } }

.about-me {
  margin-bottom: 4rem; }
  .about-me .about-title {
    font-size: 1.55rem;
    position: relative; }
    @media screen and (min-width: 481px) {
      .about-me .about-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 780px) {
      .about-me .about-title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .about-me .about-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .about-me .about-title {
        font-size: 2.7rem; } }
    .about-me .about-title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-25px);
      width: 50px;
      height: 3px;
      background-color: #156f5b; }
  @media screen and (min-width: 1280px) {
    .about-me .about-section {
      margin-bottom: 7rem; } }
  .about-me .about-section .about-context {
    margin-top: 2rem; }
    @media screen and (min-width: 780px) {
      .about-me .about-section .about-context {
        width: 40%;
        margin-top: 4rem; } }
    @media screen and (min-width: 1280px) {
      .about-me .about-section .about-context {
        width: 60%; } }
    .about-me .about-section .about-context h3 {
      font-size: 1.3rem;
      line-height: 24px;
      font-weight: bold; }
      @media screen and (min-width: 481px) {
        .about-me .about-section .about-context h3 {
          font-size: 1.45rem; } }
      @media screen and (min-width: 780px) {
        .about-me .about-section .about-context h3 {
          font-size: 1.55rem;
          line-height: 30px; } }
      @media screen and (min-width: 1024px) {
        .about-me .about-section .about-context h3 {
          font-size: 1.7rem; } }
      @media screen and (min-width: 1280px) {
        .about-me .about-section .about-context h3 {
          font-size: 1.9rem; } }
      .about-me .about-section .about-context h3 span {
        position: relative; }
        .about-me .about-section .about-context h3 span::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #156f5b; }
          @media screen and (min-width: 780px) {
            .about-me .about-section .about-context h3 span::after {
              bottom: -1px; } }
    .about-me .about-section .about-context .about-text {
      color: #4d4d4d;
      margin: 2rem 0;
      font-size: 0.9rem; }
      @media screen and (min-width: 481px) {
        .about-me .about-section .about-context .about-text {
          font-size: 1rem; } }
      @media screen and (min-width: 1024px) {
        .about-me .about-section .about-context .about-text {
          font-size: 1.1rem; } }
  .about-me .about-section .about-image {
    margin-top: 4rem;
    border: 10px solid #fce3db;
    border-radius: 5px;
    width: 300px;
    height: 300px; }
    @media screen and (min-width: 780px) {
      .about-me .about-section .about-image {
        margin: 0;
        width: 250px;
        height: 250px;
        margin-bottom: -5rem; } }
    @media screen and (min-width: 1024px) {
      .about-me .about-section .about-image {
        width: 300px;
        height: 300px; } }
    .about-me .about-section .about-image img {
      height: 100%; }

#about {
  overflow: hidden; }

.projects {
  margin-bottom: 4rem; }
  .projects .projects-title {
    font-size: 1.2rem;
    position: relative; }
    @media screen and (min-width: 481px) {
      .projects .projects-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 780px) {
      .projects .projects-title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .projects .projects-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .projects .projects-title {
        font-size: 2.7rem; } }
    .projects .projects-title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-15px);
      width: 30px;
      height: 3px;
      background-color: #156f5b; }

.reviews {
  margin-bottom: 4rem; }
  .reviews-title {
    font-size: 1.2rem;
    position: relative; }
    @media screen and (min-width: 481px) {
      .reviews-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 780px) {
      .reviews-title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .reviews-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .reviews-title {
        font-size: 2.7rem; } }
    .reviews-title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-15px);
      width: 30px;
      height: 3px;
      background-color: #156f5b; }

.contact {
  margin-bottom: 4rem; }
  .contact-title {
    font-size: 1.55rem;
    position: relative; }
    @media screen and (min-width: 481px) {
      .contact-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 780px) {
      .contact-title {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .contact-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 1280px) {
      .contact-title {
        font-size: 2.7rem; } }
    .contact-title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-25px);
      width: 50px;
      height: 3px;
      background-color: #156f5b; }
