.hero-main {
	.hero-context {
		@include screen-md {
			margin-top: 4rem;
		}
		&_title {
			font-size: 1.75rem;

			@include screen-sm-apple {
				font-size: 2rem;
			}

			@include screen-sm {
				font-size: 2.4rem;
			}

			@include screen-md {
				font-size: 1.6rem;
			}

			@include screen-lg {
				font-size: 2.4rem;
			}

			@include screen-xl {
				font-size: 3.4rem;
			}
		}

		&_text {
			margin: 1.5rem 0 2rem 0;
			color: $grey;
			font-size: 0.9rem;

			@include screen-sm-apple {
				font-size: 1.1rem;
			}

			@include screen-sm {
				font-size: 1.3rem;
			}

			@include screen-md {
				font-size: 1.1rem;
			}

			@include screen-lg {
				font-size: 1.4rem;
			}

			@include screen-xl {
				font-size: 1.5rem;
			}
		}
	}

	.hero-image {
		margin-top: 2rem;

		@include screen-md {
			margin: 0rem;
		}
	}
}
