// @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import "./includes/variables-and-mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	// font-family: "Inter", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	background-color: $white;
	color: $black;
}

.container {
	max-width: 1250px !important;
	margin: 0 auto;
	padding: 0rem 2rem;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

p {
	font-weight: 500;
}

@import "../scss/components/button-primary";
@import "../scss/components/header-navigation";
@import "../scss/components/service-item";
@import "../scss/components/service-providing";
@import "../scss/components/work-experience";
@import "../scss/components/experience-item";
@import "../scss/components/carousel-item";
@import "../scss/components/reviews-persons";

@import "../scss/components/form-component";
@import "./pages/heroPage";
@import "./pages/aboutPage";
@import "./pages/projectsPage";
