// @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import "./includes/variables-and-mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 25px;
}

body {
	// font-family: "Inter", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	background-color: $white;
	color: $black;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $white;
		color: $black;
	}
}

.container {
	max-width: 1250px !important;
	margin: 0 auto;
	padding: 0rem 2rem;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

p {
	font-weight: 500;
}

.fade-section {
	opacity: 0;
	transform: translateX(-50px) translateY(-20px);
	transition: opacity 1s ease-out, transform 1s ease-out;
}

@import "../scss/components/button-primary";
@import "../scss/components/header-navigation";
@import "../scss/components/service-item";
@import "../scss/components/service-providing";
@import "../scss/components/work-experience";
@import "../scss/components/experience-item";
@import "../scss/components/carousel-item";
@import "../scss/components/reviews-persons";
@import "../scss/components/form-component";
@import "../scss/components/contact-info";
@import "../scss/components/contact-context";
@import "../scss/components/footer-component";

@import "./pages/heroPage";
@import "./pages/aboutPage";
@import "./pages/projectsPage";
@import "./pages/contactPage";
